__pycache__
.DS_store
episodes/
.vscode/
replays/
replay.json
.venv/
.mypy_cache/

data/match/replay/*
data/match/info/*
data/meta/*
data/preprocessed/*
!data/match/replay/.gitkeep
!data/match/info/.gitkeep
!data/meta/.gitkeep
!data/preprocessed/.gitkeep